Frontend/node_modules
Frontend/node_modules/*

Backend/.venv
Backend/.venv/*
Backend/__pycache__
Backend/routes/__pycache__
Backend/triggers/__pycache__
Backend/processed_data/__pycache__
Backend/triggers/__pycache__/*
Backend/triggers/__pycache__/*
Backend/processed_data/__pycache__/*
Backend/processed_data/__pycache__/compareCSVs.cpython-312.pyc
Backend/processed_data/__pycache__/creatCSVFromData.cpython-312.pyc
*/__pycache__
Backend/*.pyc
Backend/build
Backend/dist
